body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    color: #f9faf8;;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #313543;
}

.top-header {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    
}
.bottom-header {
    padding: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.logo {
    width: 100px;
    margin: 0px 40px;
}

.links {
    padding: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-shrink: 1;
    align-content: flex-start;
}

h1 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.paragraph-desc {
    color: #f9faf8;;
}
.games-played {
    display: flex;
    flex-direction: column;
    height: 400px;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.games-we-play {
    font-size: 32px;
    font-weight: 800;
    color: #1f2937;
}

.game-images-container {
    display: flex;

}

.game-images {
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}
.right {
    
}

li {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
 }
ul {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0px;
    margin-right: 180px;
    padding: 0;
}

.button-join {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 12px;
    width: 125px;
    border-radius: 8px;
    border: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 600;
}

figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
figcaption {
    margin-top: 12px;
    text-align: center;
    width: 150px;
}

.quote {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-paragraph {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 18px;
}

.quote-name {
    width: 360px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 0px;
}